body {
  color: wheat;
  font-family: MedievalSharp, fantasy;
  background-image: url(https://cdn.pixabay.com/photo/2016/10/24/23/11/doors-1767562_1280.jpg);
  background-size: cover;
  display: flex;
  flex-flow: row;
  padding: 2rem 2rem;
}

img {
  height: 30rem;
  margin-top: 10rem;
}

.text {
  background-color: black;
  width: 35rem;
  height: 35rem;
  margin: auto;
  padding: 2rem;
  text-align: center;
  border: solid 1px wheat;
  border-radius: 50%;
}

h1 {
  margin-top: 6rem;
}
